# Set the default behavior, in case Git messes up.
* text=auto

# Enforce LF for files that should always be LF.
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.gitignore text eol=lf

# Enforce CRLF for Windows-specific files (if you have any).
*.bat text eol=crlf