# Secret environment variables
.env

# Python virtual environment

venv/

# Python cache
__pycache__/
*.pyc

# Flask instance folder and local database
instance/
site.db

# User-generated media folders
static/audio/
static/memes/
static/sketches/
static/uploads/